@import url("./holberton_school-icon/style.css");
/* that should get us some icons */

/* now let's get some fonts */
@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSansPro-Regular.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSansPro-It.otf");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSansPro-Black.otf");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSansPro-Bold.otf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSansPro-Semibold.otf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSansPro-Light.otf");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

/* it's a good day to declare some variables */
:root {
    --font-family: 'Source Sans Pro', sans-serif;
    --link-hoveractive: #FF6565;
    --color-white: #ffffff;
    --color-dark: #071629;


}

.header-nav a {
    text-decoration: none;
    color: var(--color-white);
}

.header-nav li {
    list-style-type: none;
}

.header-nav ul {
    display:
}

html {
    font-family: var(--font-family);
}

header {
    width: 100%;
    padding: 5%;
    color: var(--color-white);
    background-image: url('./images/headphones_hero_1.jpg');
    background-size: cover;
    position: relative;
}

.heady {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    position: relative;
}

.navvy {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
}

.logo {
    width: 161px;
    height: 32px;
}



/* Hamburger menu */
#burger-check {
    width: 30px;
    transition: all .2s ease-in-out;
}

#burger-check:checked {
    width: 4px;
}

#burger-label {
    order: -1;
    top: 0%;
    left: 0%;
    display: block;
    cursor: pointer;
    position: relative;
    user-select: none;
    padding: 2.5rem;
}

#burger-line,
#burger-line::before,
#burger-line::after {
    position: relative;
    display: block;
    background: var(--color-white);
    height: .15rem;
    width: 1.2rem;
    transition: all .2s ease-in-out;
}

#burger-line::before {
    position: absolute;
    content: "";
    width: 1.7rem;
    top: -0.5rem;
}

#burger-line::after {
    position: absolute;
    content: "";
    width: 1.7rem;
    top: 0.5rem;
}


#burger-check:checked~* #burger-line::before {
    top: 0;
    left: 0;
    transform: rotate(45deg);
}

#burger-check:checked~* #burger-line {
    background-color: transparent;
    width: 0rem;
}

#burger-check:checked~* #burger-line::after {
    top: 0;
    left: 0;
    transform: rotate(-45deg);
}

@media only screen and (min-width: 481px) {
    #burger-label {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .header-nav {
        display: none;
    }
}